<!DOCTYPE html>
<html lang="en" ng-app="RedditClone">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script type="text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.2/angular.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.10.3/angular-moment.js"></script>
  <script type="text/javascript" src = "index.js"></script>
  <link rel="stylesheet" href="styles/master.css" media="screen" title="no title" charset="utf-8">
</head>
<body ng-controller="MyController">
  <nav>
    <ul>
      <li>
        {{title}}
      </li>
      <li>
        <i class="fa fa-plus" ng-init="showAddPost=false" ng-click="showAddPost=!showAddPost"> Submit Post</i>
      </li>
      <li>
        <input type="text" placeholder="Search" ng-model="searchable.$" >
      </li>
      <label for="sort"> Sort by  </label>
        <select id = "sort" ng-init="sort=selections[0].field" ng-model="sort">
        <!-- <select id = "sort" ng-init="sort=selections[0].field; descend=selections[0].descend" ng-model="sort"> -->
        <select ng-options"k as v for (k,v) in Array/Obj"></select>

          <option ng-repeat = "selection in selections">{{selection.field}}</option>
          <!-- <option ng-repeat = "selection in selections" value = {{selection.descend}}>{{selection.field}}</option> -->
          <!-- <option value = {{selection.value}} ng-repeat = "selection in selections">{{selection.field}}</option> -->
        </select>
    </ul>
  </nav>
  <form name = "postForm" novalidate ng-show="showAddPost" ng-submit="showAddPost = false">
    <label for="title">Title </label>
    <input type="text" id = "title" required ng-model="post.title">
    <label for="author">Name </label>
    <input type="text" id = "author" required ng-model="post.author">
    <label for="image">Image </label>
    <input type="text" id = "image" required ng-model="post.image">
    <label for="description">Description </label>
    <input type="textarea" id = "description" required ng-model="post.description">
    <button type="submit" ng-click="addPost(this)" ng-disabled="postForm.$invalid">Submit</button>
  </form>
  <h3>{{sort}}</h3>
  <h3>{{sort.descend}}</h3>
  <div class = "post" ng-repeat = "site in sites | filter:searchable | orderBy: 'sort.field': 'sort.descend'">
    {{ orderBy_expression | orderBy : expression : reverse}}

    <div id = "container">
      <section class = "postImage">
        <img src="{{site.image}}" alt="">
      </section>
      <section class = "postText" >
        <span class = "title">{{site.title}}</span>
        <i class="fa fa-arrow-up" ng-click = "site.votes=site.votes+1"></i>
        <i class="fa fa-arrow-down" ng-click = "site.votes=site.votes-1"></i>
        <span ng-class="{ red: site.votes < 0, green: site.votes > 0 }">{{site.votes}}</span>
        <h5 class = "author">By {{site.author}}</h5>
        <p>{{site.description}}</p>
        <i class="fa fa-calendar"></i>
        <span class = "date border-right"><span am-time-ago="site.date"></span></span>
        <section id = "comment-summary" ng-click="showComments=!showComments">
          <i class="fa fa-comment"></i>
          <span>{{site.comments.length}}</span>
          <ng-pluralize class = "border-right" count="site.comments.length"
                         when="{1: ' comment',
                         'other': ' comments'}">
          </ng-pluralize>
        </section>
        <i class = "fa fa-pencil"></i>
        <span ng-init="showAddComments=false" ng-click="showAddComments=!showAddComments">Add Comment</span>
        <form name = "commentForm" novalidate ng-show="showAddComments" ng-submit="showAddComments=false" ng-model="commentForm">
          <label for="author">Name </label>
          <input type="text" id = "author" label = "Name" placeholder="Enter your name" required ng-model="comment.author">
          <label for="text">Comment </label>
          <input type="text" id = "text" label = "Comment" placeholder="Enter comment" required ng-model="comment.body">
          <button type="submit" ng-click="addComment(this)" ng-disabled="commentForm.$invalid">Submit</button>
          <!-- <button type="submit" ng-click="addComment(site, commentFormAuthor, commentFormText)" ng-disabled="commentForm.$invalid">Submit</button> -->
          <!-- <div class="alert"
            ng-show="(commentForm.$invalid)">
            ng-show="((commentFormText.$error && commentFormAuthor.$dirty) || (commentFormText.$error && commentFormText.$dirty))">
            Please enter required fields!
          </div> -->
        </form>
        <div ng-show="showComments" ng-repeat="comment in site.comments">
          <div>
            <p>{{comment.author}}{{" ("}} <span am-time-ago="comment.date"></span> {{") - "}}{{comment.body}}</p>
            <!-- <time title="{{ comment.date | date:'yyyy-MM-dd HH:mm:ss Z'}}">{{ comment.date | moment: 'fromNow' }}</time> -->
          </div>
        </div>
      </section>
    </div>
  </div>
</body>
</html>
